Detecting python files..
Analyzing 40 files using 8 processes..
~2, ~3       D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\docs\conf.py
2.2, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\examples\example_weighting_methods.py
2.2, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\examples\main.py
!2, 3.4      D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\examples\mcda_method.py
2.6, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\examples\promethee.py
2.6, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\examples\prosa_c.py
~2, ~3       D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\examples\visualizations.py
!2, 3.0      D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\setup.py
~2, ~3       D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\__init__.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\additions.py
2.6, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\compromise_rankings.py
2.3, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\correlations.py
2.6, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\distance_metrics.py
~2, ~3       D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\__init__.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\ahp.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\aras.py
2.6, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\codas.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\copras.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\cradis.py
~2, ~3       D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\edas.py
~2, ~3       D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\mabac.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\marcos.py
!2, 3.4      D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\mcda_method.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\multimoora.py
2.6, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\promethee.py
2.6, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\prosa_c.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\saw.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\spotis.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\topsis.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\vikor.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\vikor_smaa.py
2.4, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\mcda_methods\waspas.py
~2, ~3       D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\normalizations.py
2.6, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\sensitivity_analysis_weights_percentages.py
2.6, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\sensitivity_analysis_weights_values.py
2.6, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\src\pyrepo\weighting_methods.py
2.1, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\tests\test_correlations.py
2.1, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\tests\test_mcda_methods_1.py
2.1, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\tests\test_mcda_methods_2.py
2.1, 3.0     D:\HUAWEI\MCDA_2022_for_articles\pypi_packages\PROMISE\tests\test_weighting_methods.py

Tips:
- Since '# novm' or '# novermin' weren't used, a speedup can be achieved using: --no-parse-comments
(disable using: --no-tips)

Minimum required versions: 3.4
Incompatible versions:     2
